input {
    caret-color: #1DA1F2;
}
body{
    background-color: #ecf0f3;
}
.inputt {
    background: #ecf0f3;
    padding: 10px;
    padding-left: 20px;
    height: 20px;
    font-size: 14px;
    border-radius: 50px;
    box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px white;
}

input .btn {
    background-color: #1DA1F2;
    padding: 10px;
    margin-left: 150px;
    border-radius: 40px;
    border: none;
}

form{
    box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px white;
    padding: 50px;


}